In [68]:
import pandas as pd

In [69]:
df = pd.read_excel('dados/Data e hora Ciclo 01.xlsx')
df

,id,uf,br,trecho,dt_levantamento,latitude,longitude,km,Ext. (km),sentido,Veículo,Lote,Empresa
0,16636270,AC,307,307AC156600,2020-09-21 12:49:34,-7.74590,-72.446770,157000,0,C,QXH-5198,1,Strata
1,16637270,AC,307,307AC156600,2020-09-21 12:49:34,-7.74229,-72.455070,158000,1,C,QXH-5198,1,Strata
2,16638270,AC,307,307AC156600,2020-09-21 12:49:34,-7.74322,-72.463959,159000,1,C,QXH-5198,1,Strata
3,16639270,AC,307,307AC156600,2020-09-21 12:49:34,-7.74298,-72.472961,160000,1,C,QXH-5198,1,Strata
4,16640270,AC,307,307AC156600,2020-09-21 12:49:34,-7.74177,-72.481949,161000,1,C,QXH-5198,1,Strata
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35130,3862508,TO,242,242TO012314,2020-07-30 13:55:11,-12.36578,-46.381290,8000,1,D,QXH-5198,1,Strata
35131,3861508,TO,242,242TO012314,2020-07-30 13:55:11,-12.37004,-46.389389,9000,1,D,QXH-5198,1,Strata
35132,3860508,TO,242,242TO012314,2020-07-30 13:55:11,-12.37511,-46.396919,10000,1,D,QXH-5198,1,Strata
35133,3859509,TO,242,242TO012314,2020-07-30 13:55:11,-12.38095,-46.403900,11000,1,D,QXH-5198,1,Strata
35134,3858509,TO,242,242TO012314,2020-07-30 13:55:11,-12.38678,-46.410881,12000,1,D,QXH-5198,1,Strata

In [70]:
df = (df.drop(['Ext. (km)'], axis=1)
      .rename(columns={'Veículo':'veiculo', 'Lote':'lote', 'Empresa':'empresa'}))
df

,id,uf,br,trecho,dt_levantamento,latitude,longitude,km,sentido,veiculo,lote,empresa
0,16636270,AC,307,307AC156600,2020-09-21 12:49:34,-7.74590,-72.446770,157000,C,QXH-5198,1,Strata
1,16637270,AC,307,307AC156600,2020-09-21 12:49:34,-7.74229,-72.455070,158000,C,QXH-5198,1,Strata
2,16638270,AC,307,307AC156600,2020-09-21 12:49:34,-7.74322,-72.463959,159000,C,QXH-5198,1,Strata
3,16639270,AC,307,307AC156600,2020-09-21 12:49:34,-7.74298,-72.472961,160000,C,QXH-5198,1,Strata
4,16640270,AC,307,307AC156600,2020-09-21 12:49:34,-7.74177,-72.481949,161000,C,QXH-5198,1,Strata
...,...,...,...,...,...,...,...,...,...,...,...,...
35130,3862508,TO,242,242TO012314,2020-07-30 13:55:11,-12.36578,-46.381290,8000,D,QXH-5198,1,Strata
35131,3861508,TO,242,242TO012314,2020-07-30 13:55:11,-12.37004,-46.389389,9000,D,QXH-5198,1,Strata
35132,3860508,TO,242,242TO012314,2020-07-30 13:55:11,-12.37511,-46.396919,10000,D,QXH-5198,1,Strata
35133,3859509,TO,242,242TO012314,2020-07-30 13:55:11,-12.38095,-46.403900,11000,D,QXH-5198,1,Strata
35134,3858509,TO,242,242TO012314,2020-07-30 13:55:11,-12.38678,-46.410881,12000,D,QXH-5198,1,Strata

In [71]:
df.loc[: ,'data'] = df.dt_levantamento.dt.date
df.loc[:, 'horario'] = df.dt_levantamento.dt.time.astype(object)

In [72]:
df = df.drop('dt_levantamento', axis=1)

In [73]:
df = (df.groupby(['uf', 'veiculo', 'data', 'trecho', 'sentido'])['km']
 .apply(lambda x: x.max() - x.min())
 .reset_index())
df

      uf   veiculo        data       trecho sentido     km
0     AC  QXH-5198  2020-09-18  317AC000000       C  39000
1     AC  QXH-5198  2020-09-19  317AC039607       C   9000
2     AC  QXH-5198  2020-09-19  317AC049308       C  20000
3     AC  QXH-5198  2020-09-19  317AC070434       C  20000
4     AC  QXH-5198  2020-09-19  317AC091637       C   6000
...   ..       ...         ...          ...     ...    ...
3378  TO  QXH-5198  2020-08-07  230TO083053       C   8000
3379  TO  QXH-5198  2020-08-07  230TO092640       C   7000
3380  TO  QXH-5198  2020-08-07  230TO100310       C      0
3381  TO  QXH-5198  2020-08-07  230TO101685       C  42000
3382  TO  QXH-5198  2020-08-07  230TO144221       C   1000

[3383 rows x 6 columns]

In [85]:
pd.DataFrame(df.groupby(['uf', 'veiculo', 'data'])['km'].sum())

                            km
uf veiculo  data
AC QXH-5198 2020-09-18   39000
            2020-09-19  248000
            2020-09-20  108000
            2020-09-21   31000
            2020-09-22  234000
...                        ...
TO QXH-5198 2020-08-03  171000
            2020-08-04  138000
            2020-08-05  129000
            2020-08-06  181000
            2020-08-07  172000

[523 rows x 1 columns]